/.project
addons/metamod.vdf
addons/metamod_x64.vdf
addons/metamod/README.txt
addons/metamod/metaplugins.ini
addons/metamod/sourcemod.vdf
addons/metamod/bin
addons/sourcemod/GPLv2.txt
addons/sourcemod/GPLv3.txt
addons/sourcemod/LICENSE.txt
addons/sourcemod/bin
addons/sourcemod/configs/admin_groups.cfg
addons/sourcemod/configs/admin_levels.cfg
addons/sourcemod/configs/adminmenu_cfgs.txt
addons/sourcemod/configs/adminmenu_custom.txt
addons/sourcemod/configs/adminmenu_grouping.txt
addons/sourcemod/configs/admins.cfg
addons/sourcemod/configs/admins_simple.ini
addons/sourcemod/configs/banreasons.txt
addons/sourcemod/configs/core.cfg
addons/sourcemod/configs/databases.cfg
addons/sourcemod/configs/languages.cfg
addons/sourcemod/configs/maplists.cfg
addons/sourcemod/configs/geoip
addons/sourcemod/configs/sql-init-scripts
addons/sourcemod/extensions/bintools.ext.dll
addons/sourcemod/extensions/clientprefs.ext.dll
addons/sourcemod/extensions/dbi.mysql.ext.dll
addons/sourcemod/extensions/dbi.sqlite.ext.dll
addons/sourcemod/extensions/game.cstrike.ext.2.csgo.dll
addons/sourcemod/extensions/game.cstrike.ext.2.css.dll
addons/sourcemod/extensions/game.tf2.ext.2.tf2.dll
addons/sourcemod/extensions/geoip.ext.dll
addons/sourcemod/extensions/regex.ext.dll
addons/sourcemod/extensions/sdkhooks.*
addons/sourcemod/extensions/sdktools.*
addons/sourcemod/extensions/topmenus.ext.dll
addons/sourcemod/extensions/updater.ext.dll
addons/sourcemod/extensions/webternet.ext.dll
addons/sourcemod/gamedata/funcommands.games.txt
addons/sourcemod/gamedata/sm-tf2.games.txt
addons/sourcemod/gamedata/core.games
addons/sourcemod/gamedata/sdkhooks.games
addons/sourcemod/gamedata/sdktools.games/common.games.txt
addons/sourcemod/gamedata/sdktools.games/engine.*.txt
addons/sourcemod/gamedata/sdktools.games/game.*.txt
addons/sourcemod/gamedata/sdktools.games/master.games.txt
addons/sourcemod/gamedata/sm-cstrike.games
addons/sourcemod/plugins/admin-flatfile.smx
addons/sourcemod/plugins/adminhelp.smx
addons/sourcemod/plugins/adminmenu.smx
addons/sourcemod/plugins/antiflood.smx
addons/sourcemod/plugins/basebans.smx
addons/sourcemod/plugins/basechat.smx
addons/sourcemod/plugins/basecomm.smx
addons/sourcemod/plugins/basecommands.smx
addons/sourcemod/plugins/basetriggers.smx
addons/sourcemod/plugins/basevotes.smx
addons/sourcemod/plugins/clientprefs.smx
addons/sourcemod/plugins/funcommands.smx
addons/sourcemod/plugins/funvotes.smx
addons/sourcemod/plugins/nextmap.smx
addons/sourcemod/plugins/playercommands.smx
addons/sourcemod/plugins/reservedslots.smx
addons/sourcemod/plugins/sounds.smx
addons/sourcemod/plugins/disabled/admin-sql-prefetch.smx
addons/sourcemod/plugins/disabled/admin-sql-threaded.smx
addons/sourcemod/plugins/disabled/mapchooser.smx
addons/sourcemod/plugins/disabled/nominations.smx
addons/sourcemod/plugins/disabled/randomcycle.smx
addons/sourcemod/plugins/disabled/rockthevote.smx
addons/sourcemod/plugins/disabled/sql-admin-manager.smx
addons/sourcemod/scripting/admin-sql-prefetch.sp
addons/sourcemod/scripting/admin-sql-threaded.sp
addons/sourcemod/scripting/adminhelp.sp
addons/sourcemod/scripting/adminmenu.sp
addons/sourcemod/scripting/antiflood.sp
addons/sourcemod/scripting/basebans.sp
addons/sourcemod/scripting/basechat.sp
addons/sourcemod/scripting/basecomm.sp
addons/sourcemod/scripting/basecommands.sp
addons/sourcemod/scripting/basetriggers.sp
addons/sourcemod/scripting/basevotes.sp
addons/sourcemod/scripting/clientprefs.sp
addons/sourcemod/scripting/compile.exe
addons/sourcemod/scripting/funcommands.sp
addons/sourcemod/scripting/funvotes.sp
addons/sourcemod/scripting/mapchooser.sp
addons/sourcemod/scripting/nextmap.sp
addons/sourcemod/scripting/nominations.sp
addons/sourcemod/scripting/playercommands.sp
addons/sourcemod/scripting/randomcycle.sp
addons/sourcemod/scripting/reservedslots.sp
addons/sourcemod/scripting/rockthevote.sp
addons/sourcemod/scripting/sounds.sp
addons/sourcemod/scripting/spcomp.exe
addons/sourcemod/scripting/sql-admin-manager.sp
addons/sourcemod/scripting/admin-flatfile
addons/sourcemod/scripting/basebans
addons/sourcemod/scripting/basecomm
addons/sourcemod/scripting/basecommands
addons/sourcemod/scripting/basevotes
addons/sourcemod/scripting/funcommands
addons/sourcemod/scripting/funvotes
addons/sourcemod/scripting/include/admin.inc
addons/sourcemod/scripting/include/adminmenu.inc
addons/sourcemod/scripting/include/adt.inc
addons/sourcemod/scripting/include/adt_array.inc
addons/sourcemod/scripting/include/adt_stack.inc
addons/sourcemod/scripting/include/adt_trie.inc
addons/sourcemod/scripting/include/banning.inc
addons/sourcemod/scripting/include/basecomm.inc
addons/sourcemod/scripting/include/bitbuffer.inc
addons/sourcemod/scripting/include/clientprefs.inc
addons/sourcemod/scripting/include/clients.inc
addons/sourcemod/scripting/include/commandfilters.inc
addons/sourcemod/scripting/include/commandline.inc
addons/sourcemod/scripting/include/console.inc
addons/sourcemod/scripting/include/convars.inc
addons/sourcemod/scripting/include/core.inc
addons/sourcemod/scripting/include/cstrike.inc
addons/sourcemod/scripting/include/datapack.inc
addons/sourcemod/scripting/include/dbi.inc
addons/sourcemod/scripting/include/entity.inc
addons/sourcemod/scripting/include/entity_prop_stocks.inc
addons/sourcemod/scripting/include/events.inc
addons/sourcemod/scripting/include/files.inc
addons/sourcemod/scripting/include/float.inc
addons/sourcemod/scripting/include/functions.inc
addons/sourcemod/scripting/include/geoip.inc
addons/sourcemod/scripting/include/halflife.inc
addons/sourcemod/scripting/include/handles.inc
addons/sourcemod/scripting/include/helpers.inc
addons/sourcemod/scripting/include/keyvalues.inc
addons/sourcemod/scripting/include/lang.inc
addons/sourcemod/scripting/include/logging.inc
addons/sourcemod/scripting/include/mapchooser.inc
addons/sourcemod/scripting/include/menus.inc
addons/sourcemod/scripting/include/nextmap.inc
addons/sourcemod/scripting/include/profiler.inc
addons/sourcemod/scripting/include/protobuf.inc
addons/sourcemod/scripting/include/regex.inc
addons/sourcemod/scripting/include/sdkhooks.inc
addons/sourcemod/scripting/include/sdktools*.inc
addons/sourcemod/scripting/include/sorting.inc
addons/sourcemod/scripting/include/sourcemod.inc
addons/sourcemod/scripting/include/string.inc
addons/sourcemod/scripting/include/testing.inc
addons/sourcemod/scripting/include/textparse.inc
addons/sourcemod/scripting/include/tf2.inc
addons/sourcemod/scripting/include/tf2_stocks.inc
addons/sourcemod/scripting/include/timers.inc
addons/sourcemod/scripting/include/topmenus.inc
addons/sourcemod/scripting/include/usermessages.inc
addons/sourcemod/scripting/include/vector.inc
addons/sourcemod/scripting/include/version.inc
addons/sourcemod/scripting/include/version_auto.inc
addons/sourcemod/scripting/playercommands
addons/sourcemod/scripting/testsuite
addons/sourcemod/translations/*/adminhelp.phrases.txt
addons/sourcemod/translations/*/adminmenu.phrases.txt
addons/sourcemod/translations/*/antiflood.phrases.txt
addons/sourcemod/translations/*/basebans.phrases.txt
addons/sourcemod/translations/*/basecomm.phrases.txt
addons/sourcemod/translations/*/basetriggers.phrases.txt
addons/sourcemod/translations/*/basevotes.phrases.txt
addons/sourcemod/translations/*/clientprefs.phrases.txt
addons/sourcemod/translations/*/common.phrases.txt
addons/sourcemod/translations/*/core.phrases.txt
addons/sourcemod/translations/*/funcommands.phrases.txt
addons/sourcemod/translations/*/funvotes.phrases.txt
addons/sourcemod/translations/*/mapchooser.phrases.txt
addons/sourcemod/translations/*/nextmap.phrases.txt
addons/sourcemod/translations/*/nominations.phrases.txt
addons/sourcemod/translations/*/playercommands.phrases.txt
addons/sourcemod/translations/*/plugin.basecommands.txt
addons/sourcemod/translations/*/reservedslots.phrases.txt
addons/sourcemod/translations/*/rockthevote.phrases.txt
addons/sourcemod/translations/*/sounds.phrases.txt
addons/sourcemod/translations/*/slapslay.phrases.txt
addons/sourcemod/translations/*/sqladmins.phrases.txt
addons/sourcemod/translations/adminhelp.phrases.txt
addons/sourcemod/translations/adminmenu.phrases.txt
addons/sourcemod/translations/antiflood.phrases.txt
addons/sourcemod/translations/basebans.phrases.txt
addons/sourcemod/translations/basecomm.phrases.txt
addons/sourcemod/translations/basetriggers.phrases.txt
addons/sourcemod/translations/basevotes.phrases.txt
addons/sourcemod/translations/clientprefs.phrases.txt
addons/sourcemod/translations/common.phrases.txt
addons/sourcemod/translations/core.phrases.txt
addons/sourcemod/translations/funcommands.phrases.txt
addons/sourcemod/translations/funvotes.phrases.txt
addons/sourcemod/translations/mapchooser.phrases.txt
addons/sourcemod/translations/nextmap.phrases.txt
addons/sourcemod/translations/nominations.phrases.txt
addons/sourcemod/translations/playercommands.phrases.txt
addons/sourcemod/translations/plugin.basecommands.txt
addons/sourcemod/translations/reservedslots.phrases.txt
addons/sourcemod/translations/rockthevote.phrases.txt
addons/sourcemod/translations/sounds.phrases.txt
addons/sourcemod/translations/slapslay.phrases.txt
addons/sourcemod/translations/sqladmins.phrases.txt
cfg/sourcemod/sm_warmode_off.cfg
cfg/sourcemod/sm_warmode_on.cfg
cfg/sourcemod/sourcemod.cfg
*compile.dat